section {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  align-items: center;
  text-align: center;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
