section:nth-of-type(1) {
  h1 {
    font-size: 130%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 450;
  }

  h2 {
    font-weight: 450;
    font-size: 120%;
    display: flex;
    gap: 5px;

    span {
      color: var(--groene-kleur);
    }
  }
}
